
# PWSkills — Data Types and Structures Assignment (Python)
**Author:** UNO  
**Note:** This notebook includes concise theory answers and working Python code for all practical questions.

> Source assignment PDF: (provided by course). Make sure to upload this notebook to your GitHub repository, then submit a PDF with your GitHub link as requested.

## Part A — Theory (Data Types & Structures)

### 1) What are data structures, and why are they important?
Data structures are organized ways of storing and arranging data in memory so operations such as access, insertion, deletion, and search can be performed efficiently. They are important because the right structure reduces time/space complexity, improves scalability, and maps well to real‑world problems (e.g., lists/arrays for ordered data, sets for uniqueness, dicts/maps for key‑value lookup, graphs/trees for relationships/hierarchies).

### 2) Explain the difference between mutable and immutable data types with examples.
Mutable types can be changed in place after creation (e.g., `list`, `dict`, `set`). Immutable types cannot be changed in place; any 'change' creates a new object (e.g., `int`, `float`, `str`, `tuple`, `frozenset`).

### 3) What are the main differences between lists and tuples in Python?
- **Mutability:** lists are mutable; tuples are immutable.
- **Syntax:** lists use `[]`; tuples use `()`.
- **Use cases:** lists for dynamic collections; tuples for fixed records, safe iteration, or dictionary keys.
- **Performance:** tuples are slightly faster and more memory‑efficient.

### 4) Describe how dictionaries store data.
Dictionaries store key–value pairs using a hash table. A hash function maps each key to a bucket index; Python resolves collisions via open addressing/perturbation and resizes tables to keep lookups ~O(1) average time.

### 5) Why might you use a set instead of a list in Python?
Sets enforce uniqueness and provide average O(1) membership tests, union/intersection/difference operations, and fast deduplication, whereas lists have O(n) membership checks and allow duplicates.

### 6) What is a string in Python, and how is it different from a list?
A string is an immutable sequence of Unicode characters; a list is a mutable sequence of arbitrary Python objects. String operations create new strings; list items can be edited in place.

### 7) How do tuples ensure data integrity in Python?
Tuples are immutable, which prevents accidental modification. They’re ideal for fixed records (e.g., coordinates, database rows) and can be used as dictionary keys if their elements are also hashable.

### 8) What is a hash table, and how does it relate to dictionaries in Python?
A hash table stores items in an array of buckets indexed by a hash of the key. Python dictionaries are optimized hash tables supporting average O(1) get/set/delete.

### 9) Can lists contain different data types in Python?
Yes. Lists can mix types, e.g., `[1, 'a', 3.14, True]`. Python is dynamically typed.

### 10) Explain why strings are immutable in Python.
Immutability simplifies memory management and interning, enables safe sharing across code without defensive copies, and improves hashing/Thread‑safety properties for common workloads.

### 11) What advantages do dictionaries offer over lists for certain tasks?
Dictionaries provide direct key‑based lookup/update (~O(1) average), making them superior when you need to map identifiers to values (e.g., user_id → profile). Lists require O(n) search for arbitrary keys.

### 12) Describe a scenario where using a tuple would be preferable over a list.
When representing a fixed-size, read‑only record (e.g., `(x, y)` coordinates, an RGB color `(255, 128, 64)`, or a database row) or when using it as a dictionary key.

### 13) How do sets handle duplicate values in Python?
Duplicates are automatically removed; only unique, hashable elements remain.

### 14) How does the `in` keyword work differently for lists and dictionaries?
`x in my_list` checks for an element in the sequence (linear scan, O(n)). `k in my_dict` checks for presence of key via hashing (average O(1)).

### 15) Can you modify the elements of a tuple? Explain why or why not.
No. Tuples are immutable. You can create a new tuple (e.g., by concatenation) but not change elements in place.

### 16) What is a nested dictionary? Give an example of its use case.
A dictionary whose values include other dictionaries. Example: `students = {'s1': {'name': 'Asha', 'grade': 'A'}, 's2': {'name': 'Ravi', 'grade': 'B'}}` for hierarchical data.

### 17) Describe the time complexity of accessing elements in a dictionary.
Average O(1) due to hashing; worst‑case O(n) under adversarial collisions—rare in practice.

### 18) In what situations are lists preferred over dictionaries?
When order matters and items are indexed by position (e.g., sequences to iterate, stacks/queues, small collections where keys aren’t needed).

### 19) Why are dictionaries considered unordered, and how does that affect data retrieval?
Historically dicts didn’t preserve insertion order. Since Python 3.7+, insertion order is preserved as an implementation detail, but retrieval is still by key rather than by numeric index. You shouldn’t rely on numeric positions.

### 20) Explain the difference between a list and a dictionary in terms of data retrieval.
Lists retrieve by integer index (O(1) by position, O(n) to find a value). Dictionaries retrieve by key (average O(1)).

## Part B — Practical (Python Code)

### Practical 1: 1) Create a string with your name and print it.

In [1]:
name_str = 'UNO'
print(name_str)

UNO

### Practical 2: 2) Find the length of the string `'Hello World'`.

In [2]:
s = 'Hello World'
print(len(s))

11

### Practical 3: 3) Slice the first 7 characters from the string `'Python Programming'`.

In [3]:
text = 'Python Programming'
print(text[:7])

Python

### Practical 4: 4) Convert the string `'hello'` to uppercase.

In [4]:
print('hello'.upper())

HELLO

### Practical 5: 5) Replace the word `'apple'` with `'orange'` in the string `'I like apple'`.

In [5]:
print('I like apple'.replace('apple', 'orange'))

I like orange

### Practical 6: 6) Create a list with numbers 1 to 5 and print it.

In [6]:
lst = [1,2,3,4,5]
print(lst)

[1, 2, 3, 4, 5]

### Practical 7: 7) Append the number `10` to the list `[1, 2, 3, 4]`.

In [7]:
lst = [1,2,3,4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

### Practical 8: 8) Remove the number `3` from the list `[1, 2, 3, 4, 5]`.

In [8]:
lst = [1,2,3,4,5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

### Practical 9: 9) Access the second element in the list `['a', 'b', 'c', 'd']`.

In [9]:
letters = ['a','b','c','d']
print(letters[1])

b

### Practical 10: 10) Reverse the list `[10, 20, 30, 40, 50]`.

In [10]:
nums = [10,20,30,40,50]
nums.reverse()
print(nums)

[50, 40, 30, 20, 10]

### Practical 11: 11) Create a tuple with the elements `100, 200, 300` and print it.

In [11]:
t = (100, 200, 300)
print(t)

(100, 200, 300)

### Practical 12: 12) Access the second‑to‑last element of the tuple `('red', 'green', 'blue', 'yellow')`.

In [12]:
tp = ('red', 'green', 'blue', 'yellow')
print(tp[-2])

blue

### Practical 13: 13) Find the minimum number in the tuple `(10, 20, 5, 15)`.

In [13]:
tp = (10, 20, 5, 15)
print(min(tp))

5

### Practical 14: 14) Find the index of the element `'cat'` in the tuple `('dog', 'cat', 'rabbit')`.

In [14]:
tp = ('dog', 'cat', 'rabbit')
print(tp.index('cat'))

1

### Practical 15: 15) Create a tuple containing three different fruits and check if `'kiwi'` is in it.

In [15]:
fruits = ('apple', 'banana', 'mango')
print('kiwi' in fruits)

False

### Practical 16: 16) Create a set with the elements `'a'`, `'b'`, `'c'` and print it.

In [16]:
st = {'a','b','c'}
print(st)

{'a', 'c', 'b'}

### Practical 17: 17) Clear all elements from the set `{1, 2, 3, 4, 5}`.

In [17]:
st = {1,2,3,4,5}
st.clear()
print(st)

set()

### Practical 18: 18) Remove the element `4` from the set `{1, 2, 3, 4}`.

In [18]:
st = {1,2,3,4}
st.remove(4)
print(st)

{1, 2, 3}

### Practical 19: 19) Find the union of two sets `{1, 2, 3}` and `{3, 4, 5}`.

In [19]:
a = {1,2,3}
b = {3,4,5}
print(a | b)  # or a.union(b)

{1, 2, 3, 4, 5}

### Practical 20: 20) Find the intersection of two sets `{1, 2, 3}` and `{2, 3, 4}`.

In [20]:
a = {1,2,3}
b = {2,3,4}
print(a & b)  # or a.intersection(b)

{2, 3}

### Practical 21: 21) Create a dictionary with the keys `'name'`, `'age'`, and `'city'`, and print it.

In [21]:
d = {'name': 'UNO', 'age': 21, 'city': 'Mumbai'}
print(d)

{'name': 'UNO', 'age': 21, 'city': 'Mumbai'}

### Practical 22: 22) Add a new key‑value pair `'country': 'USA'` to the dictionary `{'name': 'John', 'age': 25}`.

In [22]:
d = {'name': 'John', 'age': 25}
d['country'] = 'USA'
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

### Practical 23: 23) Access the value associated with the key `'name'` in the dictionary `{'name': 'Alice', 'age': 30}`.

In [23]:
d = {'name': 'Alice', 'age': 30}
print(d['name'])

Alice

### Practical 24: 24) Remove the key `'age'` from the dictionary `{'name': 'Bob', 'age': 22, 'city': 'New York'}`.

In [24]:
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
d.pop('age')
print(d)

{'name': 'Bob', 'city': 'New York'}

### Practical 25: 25) Check if the key `'city'` exists in the dictionary `{'name': 'Alice', 'city': 'Paris'}`.

In [25]:
d = {'name': 'Alice', 'city': 'Paris'}
print('city' in d)

True

### Practical 26: 26) Create a list, a tuple, and a dictionary, and print them all.

In [26]:
lst = [1,2,3]
tp = (4,5,6)
d = {'a':1,'b':2}
print(lst)
print(tp)
print(d)

[1, 2, 3]
(4, 5, 6)
{'a': 1, 'b': 2}

### Practical 27: 27) Create a list of 5 random numbers between 1 and 100, sort ascending, and print.

In [27]:
import random
nums = [random.randint(1,100) for _ in range(5)]
nums.sort()
print(nums)

[35, 59, 63, 72, 90]

### Practical 28: 28) Create a list with strings and print the element at the third index.

In [28]:
words = ['alpha','beta','gamma','delta','epsilon']
print(words[3])  # zero-based indexing

delta

### Practical 29: 29) Combine two dictionaries into one and print the result.

In [29]:
d1 = {'x':1, 'y':2}
d2 = {'y':20, 'z':3}
combined = {**d1, **d2}
print(combined)  # d2 wins on conflicts

{'x': 1, 'y': 20, 'z': 3}

### Practical 30: 30) Convert a list of strings into a set.

In [30]:
lst = ['a','b','a','c']
print(set(lst))

{'a', 'c', 'b'}